@model Scarpa

<h1>Delete</h1>

<h3>Sei sicuro di volere cancellare l'articolo?</h3>
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="ID" />
    <div class="form-group">
        <input type="submit" value="Elimina" class="btn btn-danger" />
        <a class="btn btn-warning" asp-action="Edit"
                            asp-route-id="@Model.ID">Modifica</a>
        <a asp-action="Index" class="btn btn-info">Torna alla lista</a>
    </div>
</form>
